<ul class="comments">
  <% entry.comments.each do |c| %>
  <li>
  	<p style="word-wrap: break-word; white-space: line-break;">
      <%= c.content %>
    </p>
    <p style="opacity: 0.4;">
      commented by <%= c.user.name %> at <%= c.created_at %>
    </p>
  </li>
  <% end %>
</ul>
